<div class="row">
  <div class="col-md-4">


      <div class="clearfix">
          <div class="panel panel-warning">
              <!-- Default panel contents -->
              <div class="panel-heading">
                  <h3 class="panel-title">Settings</h3>
              </div>
              <div class="panel-body">
                  <p> Find the settings by sections below. </p>
              </div>
              <!-- List group -->
              <ul class="list-group">
                  <li *ngFor="let ns of namespaces" style="cursor: pointer; font-weight: bold;" (click)="initSettingForm(ns)" class="list-group-item"> {{ ns['label'] }} Settings</li>
              </ul>
          </div>
      </div>


  </div>
  <!-- col-sm-6 -->


  <div class="col-md-8">

      <force-form (response)="onSettingForm($event)" [path]="settingFormPath" [title]="settingFormTitle" [request]="settingFormReq"></force-form>

  </div>



</div>