<div class="form-group m-form__group row" style_obsolete="margin-bottom: 15px; padding-bottom: 15px !important;">
  <label class="col-lg-3 col-form-label" [innerHtml]="control.label"></label>
  <div class="col-lg-9">
      <div class="input-group input-large date-picker input-daterange" data-date="2016-11-10" data-date-format="yyyy-mm-dd">
          <input type="text" class="form-control" name="from">
          <span class="input-group-addon"> to </span>
          <input type="text" class="form-control" name="to">
      </div>
      <!-- /input-group -->
      <span class="m-form__help"> Select date range (Start and End Date) </span>
  </div>
</div>
